body{
    margin: 0px;
    font-family: 'Circular Std', sans-serif;
}
#logo{
    width:150px
}

#container{
    background-color:orange;
    background-size: cover;
    height: 1000px;
    padding: 5px 0;
}
 
footer {
    background-color:orange;
    padding: 5px 0;
    text-align: 20;
    position: fixed;
    bottom: 0;
    width: 2000px;
    height: 90px
    
    
}
